.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 1rem 2rem;
  z-index: 3;
  //   background-color: red;
  width: 500px;
  top: 5rem;
  right: 2rem;
  gap: 1rem;
  .cart--title {
    font-size: 1.5rem;
    color: gray;
    margin: 0;
  }
  .cart--item {
    display: flex;
    gap: 1rem;
    // background-color: blue;
    height: 120px;
    img {
      width: 100px;
      object-fit: cover;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 0rem;
      width: 100%;
      //   background-color: blue;
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: blue;
        // background-color: yellow;
        width: 80%;
        gap: 0.5rem;
        .title {
          font-weight: 600;
        }
        .desc {
          color: gray;
        }
        .price {
          font-size: 0.9rem;
          color: gray;
        }
      }
      button {
        width: 40px;
        height: 40px;
      }
    }
  }
  .subtotal {
    font-weight: 600;
  }
}
