.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem 0;
    background-color: #0288d1;
    color: white;
    .contact--left {

    }
    .contact--center {
        input {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .contact--right {

    }
}
