.cat-item {
  position: relative;
  &:hover {
    & > img {
      transform: scale(1.5);
    }
  }
  img {
    width: 100%;
    transition: 0.3s all ease-in-out;
    height: 100%;
    object-fit: cover;
  }
}
