.header {
  height: 4rem;
  padding: 1rem 2rem;
  .header--wrapper {
    width: 100%;
    .header--left {
      .header--item {
        display: flex;
        align-items: center;
        a {
          transition: 0.3s;
          border-bottom: 1px solid transparent;
          &:hover {
            color: #1976d2;
            border-color: #1976d2;
          }
        }
      }
    }
    .header--center {
      font-weight: 500;
      font-size: 1.8rem;
      color: #1976d2;
    }
    .header--right {
      .header--link {
        a {
          transition: 0.3s;
          border-bottom: 1px solid transparent;
          &:hover {
            color: #1976d2;
            border-color: #1976d2;
          }
        }
      }
    }
  }
}
